<div class="container">
	<h1>Simple card container</h1>
	<scc-simple-card-container [data]="items"
							   [columns]="columns"
							   [count]="count"
							   [paging]="true"
							   [pageNumber]="pageNumber"
							   (sort)="sort($event)">
		<div *sccColumnHeader="let item; name 'name'">Cool name</div>
		<div *sccColumnContent="let value; name 'name'"># {{value}}</div>
		<div *sccCardContent="let myItem">
			Name: {{myItem.name}}
			Value: {{myItem.value}}
		</div>
		<div *sccCardFooter>Footer</div>
	</scc-simple-card-container>
</div>